.container{
    display:flex;
    flex-direction: column;
    padding: 30;
}

.content{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:space-around ;

}


.card {
    border: 1px solid #e0e0e0; 
    border-radius: 12px; 
    padding: 20px;
    text-align: center;
    background-color: #f5f5f5bc; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    height: 80;
}

.card h2 {
    margin: 0;
    font-size: 18px;
    color: #333; 
}

.card .total {
    font-size: 36px;
    font-weight: bold;
    color: #3cb371; 
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 20px; /* Espaço entre as colunas */
}


